<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>@ViewBag.Title</title>
  <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
  <link rel="stylesheet" href="~/MyRazorWeb.styles.css" asp-append-version="true" />
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/Index">MyRazorWeb</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link text-dark active" aria-current="page" asp-area="" asp-page="/Index">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-page="/Books/List"> Books </a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-dark " asp-area="" asp-page="/Books/Create"> Create </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark " asp-area="" asp-page="/calc"> Calc </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-page="/Privacy"> Privacy </a>
            </li>
          

          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="container">
    <main role="main" class="pb-3">
      @RenderBody()
    </main>
  </div>

  @if (IsSectionDefined("CustomFooter"))
  {
    @RenderSection("CustomFooter", required: false)
  }
  else
  {
    <footer class="border-top footer text-muted">
      <div class="container">
        &copy; @DateTime.Now.Year - My Razor Web
        - <a asp-area="" asp-page="/Privacy"> Privacy </a>
      </div>
    </footer>
  }

  <script src="~/lib/jquery/jquery.min.js"></script>
  <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
