@page
@model MyRazorWeb.Pages.IndexModel
@{
  ViewBag.Title = "Home page";
}
<div class="text-center">
  <div class="homepage-image-container mb-4">
    <img src="~/images/cat.png" alt="Cartoon cat silhouette welcoming visitors to MyRazorWeb" class="homepage-image img-fluid" />
  </div>
  <h1 class="display-4"> 歡迎 </h1>
  <div>
    @Model.Greeting
    @{
      DisplayDate(DateTime.Now);
    }
  </div>
</div>
@functions {
  void DisplayDate(DateTime dt)
  {
    <span class="date">@dt.ToString("D")</span>
  }
}